<!DOCTYPE html>
<html>
  <head><% include ../partials/page/head.ejs %></head>
  <body>
    <% include ../partials/page/header.ejs %>

    <div class="container">
      <div class="col-md-6 col-md-offset-3">
        <div class="list-group">
          <% for (var i=0; i < padList.length;i++) { %>
          <a href="/pads/<%= padList[i].id %>" class="list-group-item">
            <h4 class="list-group-item-heading"><%= padList[i].name; %> <span class="label label-primary">£<%= padList[i].price; %></span></h4>
            <h5 class="list-group-item-heading"><i class="fa fa-map-marker" aria-hidden="true"></i> <%= padList[i].location; %></h5>
            <h6 class="list-group-item-heading"><i class="fa fa-calendar" aria-hidden="true"></i> <b><%= padList[i].availableFrom.toDateString(); %></b> to <b><%= padList[i].availableTo.toDateString(); %></b> </h6>
            <p class="list-group-item-text text-muted"><%= padList[i].description.substring(0, 200); %></p>
          </a>
          <% }; %>
        </div>
      </div>
    </div>
    <% include ../partials/page/footer.ejs %>
  </body>
</html>
